.bg-img1 {
    height: 500px;
    background-color: #000;
    background-size: cover;
    background-image: url('./imgs/1115160.png');
}
.bg-img2 {
    height: 500px;
    background-color: #000;
    background-size: cover;
    background-image: url('./imgs/969049.png');
}
.bg-img3 {
    height: 500px;
    background-color: #000;
    background-size: cover;
    background-image: url('./imgs/985212.jpg');
}